html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}


body{
    font-size: 1.6em;
    color: #333;
}

footer{
    color: #333;
    font-size: 1.2rem;
}

div{
    margin: 40px auto;
}


/* Ciculo */
#grafico-01{
    background-color: brown;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

#grafico-01 img {
    width: 170%;
}

/* Triangulo */
#grafico-02{
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent green;
    width: 200px;
}

#imagem-vetor {
    width: 200px;
}

#canvas{
    width: 300px;
    height: 300px;
}

/* Filtros */

#grafico-01{
    filter: drop-shadow(-7px 20px 12px #333); /* sombra */
}

.filtro{
    filter: grayscale(100%);  /* escala de cinza */
    filter: blur(5px); /* desfoque */
    filter: brightness(200%); /* brilho */
    filter: invert(100%); /* inverte a cor */
    filter: opacity(80%); /* opacidade */
    filter: saturate(200%) sepia(100%); /* combina filtros separando c/ espaço */

}

.filtro:hover {
    filter: grayscale(0%);
    
}